body {
	margin: 0;
	font-family: 'iosevka ss05', Menlo, 'Andale Mono', monospace;
}
#app {
	height: 100vh;
	display: flex;
	justify-content: center;
}
.game-status {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
}
.board {
	align-self: center;
	display: grid;
	width: 80%;
	max-width: 60vh;
	grid-template-columns: repeat(8, 12.5%);
	border: 1px solid;
}
.square.dark {
	background: #f1f1f1;
}
.square {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
  border-right: transparent;
  border-bottom: transparent;
  /* transition: all 0.3s cubic-bezier(0.3, 0.8, 0.1, 0.95); */
}
.square svg {
  opacity: 0.85;
  /* transition: all 0.3s cubic-bezier(0.3, 0.8, 0.1, 0.95); */
}
.square.active-p, .square.can-activate-p {
  cursor: pointer;
}
.square.active-p, .square.can-activate-p:hover {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.01);
}
.square.active-p svg, .square.can-activate-p:hover svg {
  opacity: 1;
}
.piece-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
svg {
	align-self: center;
	padding: 0.4em;
}
@media (min-width: 768px) {
	svg {
		max-width: 3.2vw;
		max-height: 3.5vw;
	}
}
.w svg {
	fill: tan;
	stroke: 1px solid;
}
.w {
	color: tan;
}
.in-check-b .b .king,
.in-check-w .w .king {
  fill: red;
}
